@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url("rupee.jpg");
    background-size: cover;
}

.logo img{
    width: 40px;
    border-radius: 50%;
}

nav {
    display:flex;
    align-items:self-end;
    justify-content: space-between;
}

nav {
    display:flex;
    align-items:self-end;
    justify-content: space-between;
    padding: 30px 100px;
}
  
.logo {
    max-height: 60px;
}
  
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
}
  
nav ul li a {
    color: #1fc2e6;
    position: relative;
    padding: 5px 0;
}

.navbar-collapse a:hover{
    background-color: #ddddddb5;
    opacity: 1;
    transition: opacity 2ms ease-in-out;
}
.content {
    position: absolute;
    top: 35%;
    left: 8%;
    position:absolute; 
    left:650px; 
}

.content h1 {
    color: #c222ea;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 100%;
  }
.content h2 {
    color: #0c0c0c;
    opacity: 1;
    font-size: 50px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
  }
.content p {
    width: 55%;
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 20px;
    position:absolute; 
    left:50px; 
  }

.abconv{
    position:absolute; 
    margin-top: 500px;
    left:-600px;
}
.abconv p{
    color:#007BFF;
    width:80%
}
.converter {
    background-color: #fff;
    width:625px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position:absolute; 
    margin-top: 600px;
    left:150px; 
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 100% 100%;
    background: #47a8fd;
    border: 2px solid #2056b3;
}

button:hover {
    background: transparent;
    border-color: #2056b3;
    color: #47a8fd;
}

.abalert{
    position:absolute; 
    margin-top: 1150px;
    left:-600px;
}
.abalert p{
    color:#007BFF;
    width:60%;
    padding-bottom: 400px;
}

.alerts {
    background-color: #fff;
    margin-top: 1250px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-content: center;
    width:625px;
    position: absolute;
    left:150px; 
}

.alerts h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.alert-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.alert-container label {
    font-weight: bold;
    flex-basis: 40%;
}

.alert-container input[type="number"] {
    flex-basis: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.alert-container button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.alert-container button:hover {
    background-color: #0056b3;
}
